@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background: #ffffff;
    color: #022f40;
    text-align: center;
    font-size: x-large;
}

header {
    background: #24d0d2;
    padding: 20px;
    margin: 10px;
}

nav {
    max-width: 700px;
    background-color: #24d0d2;
    padding: 20px;
    margin: 10rem auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #022f40;
    position: absolute;
    padding: 1px 6px 1px 6px;
    top: 1rem;
    /* right: 200px; */
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #125C81;
    color: #ECFEFE;
}

.navigation a {
    display: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    /*background-color: #c75911;*/
    color: #c75911;
    font-weight: 700;
}

.open a {
    display: block;
}


/* large view navigation ************************************/

@media (min-width: 40.5em) {
    #menu {
        display: none;
        /* hide hamburger button */

    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}

.main ul {
    list-style-type: none;
}

.grid-container {
    background-color: #ffffff;
}

.card {
    box-sizing: border-box;
}

clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    font-size: 250%;
    color: #022f40;

}

h3 {
    background-color: #125C81;
    color: #ffffff;
    font-size: x-large;

}

img {
    border-style: outset;
    border-color: #125C81;
    border-radius: 25px;
    width: 16%;
    height: auto;
    align-items: center;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #022f40;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #ffffff);
    border: 1px solid #022f40;
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {

    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}

.label {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

#visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}

#session {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#session li {
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (min-width:760px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }
}

footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}